* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border: 1px solid #999;
}

h2 {
    font-size: 20px;
    margin-top: 0;
}

h5 {
    color: gray;
}

@media screen and (max-width: 700px) {
    .container {   
        flex-direction: column;
    }
}
